.aboutme {
    margin-top: 10px;
   
}

ul li {
    list-style-type: none;
   
}

img:hover {
    color:palegreen;
background-color: turquoise;
transform: scale(2, 2);

}

.h1, .h2 {
  width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color:white;
    border-radius: 50px;
    cursor: pointer;
    color:white;
    transition-property: color, background-color, transform;
    transition-duration: 4s;
    transition-delay: 
}


main {
    background-color: lightblue;
    border-bottom: solid black 2px;
    background-size: cover;
    
    
}

@media screen and (max-width: 480px) {
    body {
      background-color:skyblue;
     } 
     .center {
       font-size: 14px;
     }
   }

   @media screen and (min-width:768px) {

     body {
       background-color: purple;
     }
     .center {
       font-size: 60px;
       font-family: cursive;
     }
   }

   @media screen and (min-width:1025px) {
    body {
      background-color:skyblue;
    }
   }